
startbootstrap-resume-gh-pages/index.html
startbootstrap-resume-gh-pages/js/scripts.js
startbootstrap-resume-gh-pages/css/styles.css
startbootstrap-resume-gh-pages/assets/img/profile.jpg
startbootstrap-resume-gh-pages/assets/img/favicon.ico
